__pycache__/
**/__pycache__
.vscode/
repomix-output.xml
*.mp4
*.zip
!models/best/best_model_first_phase.zip
!models/best/best_model_second_phase.zip
!models/best/best_model_third_phase.zip
!models/best/best_model_fourth_phase.zip
logs/
metrics/